.chapter8 {
    color: black;
    font-size: 46px;
    text-align: center;
    margin-top: 27px;
    font-family: verdana;
    text-shadow: 1px 3px 0 yellowgreen;
}
hr{
	border: 1px solid black;
}
.eyecatch{
	background: url('bg2.jpg') no-repeat;
	background-size: cover;
	height: 400px;
}
ul#menu{
    /* padding: 0; */
    /* margin: 0; */
    /* list-style-type: none; */
    font-size: 0;
    text-align: center;
    padding: 10px;
    background-color: rgba(127,168,70, .8);
}
ul#menu > li{
	display: inline-block;
}
ul#menu > li > a{
    font-size: 20px;
    text-decoration: none;
    line-height: 37px;
    padding: 18px;
}
#menu > li:nth-child(1) > a, #menu > li:nth-child(2) > a, #menu > li:nth-child(3) > a, #menu > li:nth-child(4) > a{
	border-right: 1px solid #000;
}
p.text {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 46px;
    margin-top: 70px;
    color: rgba(154, 205, 50, 0.8);
    font-weight: bold;
    text-align: center;
}
.chee {
	width: 866px;
    margin: 0 auto;
}
body{
	margin: 0;
}

.cheezzy{
	font-size: 40px;
	margin-left: 34px;
	/*padding-left: 70px;
	padding-top: 50px;*/
}
img.me {
    text-align: center;
    margin-left: 34PX;
}
.me{
	margin-bottom: 30px;
	display: inline-block;
	position: relative;
}
.myname{
    font-size: 17px;
    display: inline-block;
    padding: 2px 37px 2px;
    margin-left: 50px;
    margin-right: 50px;
    border: solid grey;
    border-radius: 10px;
    position: absolute;
}
.myname:first-letter{
	font-size: 50px;
	color: yellowgreen;
}
.achievements{
	font-size: 22px;
    background: #c7d9ab;
    opacity: 0.8;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}
p.here{
	text-align: center;
}
.list{
	font-size: 23px;
	background: #c7d9ab;
    opacity: 0.8;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
}
#list2 {
    /* overflow: hidden; */
    /* width: 792px; */
    margin: 0 auto;
    display: block;
    /* padding-right: 49px; */
    /* margin-right: 66px; */
    text-align: center;
}
li {
    text-align: left;
}
table {
    /* margin-left: 33.33%; */
    margin: 0px 125px;
	border-spacing: 0;
	border: 1px solid #000
}
#table0 > table > tbody > tr.table2 > td:nth-child(1),#table0 > table > tbody > tr.table2 > td:nth-child(2),#table0 > table > tbody > tr.table2 > td:nth-child(3),#table0 > table > tbody > tr.table2 > td:nth-child(4),
#table0 > table > tbody > tr.table1 > td:nth-child(1),#table0 > table > tbody > tr.table1 > td:nth-child(2),#table0 > table > tbody > tr.table1 > td:nth-child(3),#table0 > table > tbody > tr.table1 > td:nth-child(4){
	    border-right: #7aae2a 1px solid;
}
#table{
	color: green;
	border: solid grey;
	border-width: 1px;
	border-collapse: collapse;
	text-align: center;
}
.elementary {
    padding: 5px 68px 5px;
}
.elementaries{
    padding: 20px 68px 20px;
}
.table1{
	background-color: #89b840;
	color: white;
}
.table2{
	background-color: #d7f3aa;
	color: black;
}
.education{
	text-align: center;
	padding: 50px;
	
	
}*/
h2.audio {
    padding-top: 50px;
    text-align: center;
}
#list2 > div.achievements > p > a,#list2 > div.list > p > a{
	font-weight: bold;
    color: #446f01;
}
#menu > li > a{
	color: #45663a;
}
hr{
	    border: 1px solid #7aae2a;
}
body > video,body > audio{
    display: block;
    margin: 0 auto;
	
}
body > h2.video,body > h2.audio,body > p.audio,{
	text-align: center;
}
body > h2.video{
		text-align: center;
}
body > p:nth-child(12){
	text-align: center;
}
body > h2.audio{
	text-align: center;
}
body > p.audio{
	text-align: center;
}
